
body {
 margin: 0;
 padding: 0;

 font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
 font-size: 14px;
 font-weight: 400;
 color: #000000;
 text-transform: uppercase;
}

a {
 text-decoration: none; 
 display: block;   
}

.menu {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.checkout {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.headline {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone {
  color: #ee3643;
}

.adress {
  color: #32425c;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.item {
 font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
 font-size: 18px;
 font-weight: 400;
 text-transform: uppercase;
}

.item a{
  color: #000000
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  font-size: 17px;
}

.contacts-footer {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.copyright {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.category-navigation {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.category-navigation a {
  color: #ffd180;
}

.footer-container {
  background-color: #293449;
}

.Feedback{
  color: #ffffff;
}
.Feedback a {
  color: #ffd180;
}

.footer-copyright {
  color: #ffffff;
}

.footer-copyright a {
  color: #ffd180;
}

.company-list li {
  font-weight: 700;
}

.login,
.site-navigation,
.item,
.manufacturers,
.service-list,
.company-list,
.category-navigation,
.footer-social,
.catalog-navigation,
.bread-crumbs {
  list-style: none;
}

.write-us,
.cart,
.modal-cart,
.visually-hidden {
  display: none; 
}

.marker:hover,
.basket:hover {
  background-color: #293449;
}

.search {
  background-color: #293449;
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
  color: #ffffff;
  
}

.marker:active,
.basket:active {
  background-color: #161d29;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.login a:hover {
  color: #ee3643;
}

.login a:active {
  opacity: 30%; 
}

.site-navigation li {
  width: 127px;
  height: 60px;
  padding: 0 30px;
  height: 60px;
}

.site-navigation .navigation-link:hover {
  background-color: #1d2739;
  width: 100%;
  height: 100%;
}

.site-navigation .navigation-link:active {
  background-color: #1d2739;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.foter-navigation-link:hover {
  text-decoration: underline;
}

.foter-navigation-link:active {
  opacity: 0.5;
}

.button-mail:hover,
.button-site:hover {
  text-decoration: underline;
}

.button-mail:active,
.button-site:active {
  color: #ee3643;
}

.button-catalog {
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
}

.button-catalog:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.button-catalog:active {
  background-color: #ba2732;
  color: #ffffff;
}

.new-price {
  width: 141px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
}

.button-delivery,
.button-warranty,
.button-credit {
  width: 240px;
  height: 61px;
  background-color: #32425c;
  color: #ffffff; 
}

.button-delivery:hover,
.button-warranty:hover,
.button-credit:hover {
  width: 240px;
  height: 61px;
  background-color: #293449;
  color: #ffffff;
}

.button-delivery:focus,
.button-warranty:focus,
.button-credit:focus {
  width: 240px;
  height: 61px;
  background-color: #ffffff;
  color: #32425c;
}

.slayer-material {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  color: #ffffff;
}

.button-material {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.slayer-instruments{
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  color: #ffffff;
}

.button-instruments {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.slayer-equipment {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  color: #ffffff;
}

.button-equipment {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.slayer-discounts {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  color: #ffffff;
}

.button-discounts {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.slayer-delivery {
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  color: #ffffff;
}

.button-delivery-layer {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.button-price,
.button-type,
.button-functional {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: rgba(0, 0, 0,0.3);
}

.button-price:hover,
.button-type:hover,
.button-functional:hover {
  text-decoration-line: underline;
  color: #000000;
}

.button-price:focus,
.button-type:focus,
.button-functional:focus {
  color: #ee3643;
}

.button-page {
  border: 1px solid #e5e5e5;
  color: #000000;
  width: 38px;
  height: 38px;
}

.button-page:hover {
  border: 1px solid #bdc6ca;
  color: #000000;
  width: 38px;
  height: 38px;
}

.button-page:focus {
  border: 1px solid #ee3643;
  color: #000000;
  width: 38px;
  height: 38px;
}

.button-next {
  border: 1px solid #e5e5e5;
  color: #000000;
  width: 140px;
  height: 38px;
}

.button-next:hover {
  border: 1px solid #bdc6ca;
  color: #000000;
  width: 140px;
  height: 38px;
}

.button-next:focus {
  border: 1px solid #ee3643;
  color: #000000;
  width: 140px;
  height: 38px;
}

.bread-crumbs a {
  color: #000000;
}

.footer-social a {
  color: #000000;
}

